* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.15;
}

body {
  position: relative;
}

.start-page, .player-field, .player-field-mirror, .enemy-field, .win-page, .loose-page {
  border: 1px solid black;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.start-page {
  visibility: hidden;
}

.player-field {
  z-index: 20;
}

.player-field-battlezone, .player-field-mirror-battlezone, .enemy-field-battlezone {
  border: 1px solid black;
  width: 100vw;
  height: 100vw;
  margin-top: calc((100vh - 100vw) / 2);
  font-size: 0;
}

.row {

}

.row div {
  border: 1px solid black;
  display: inline-block;
  width: 10%;
  height: 10vw;
}

.player-field-mirror {
  z-index: 30;
}

.player-field-mirror .row div {
  opacity: 0.5;
}

.enemy-field {
  z-index: 10;
}

.win-page {
  visibility: hidden;
}

.loose-page {
  visibility: hidden;
}

.miss {
  box-shadow: 0px 0px 40px 20px #f00 inset;
}
