* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.15;
}

body {
  position: relative;
  background-color: rgb(60, 60, 250);
}

.start-page, .player-field, .player-field-mirror, .enemy-field, .win-page, .loose-page {
  border: 1px solid black;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.start-page {
  visibility: hidden;
}

.player-field {
  z-index: 20;
}

.player-field-battlezone, .player-field-mirror-battlezone, .enemy-field-battlezone {
  border: 1px solid black;
  width: 100vw;
  height: 100vw;
  margin-top: calc((100vh - 100vw) / 2);
  font-size: 0;
}

.row {

}

.row div {
  border: 1px solid black;
  display: inline-block;
  width: 10%;
  height: 10vw;
}

.player-field-mirror {
  z-index: 30;
}

.player-field-mirror .row div {
  opacity: 0.5;
}

.enemy-field {
  z-index: 10;
}

.win-page {
  visibility: hidden;
}

.loose-page {
  visibility: hidden;
}

.miss {
  box-shadow: 0px 0px 40px 20px #f00 inset;
}

@keyframes shadow {
	from {box-shadow: 0 0 10px 15px red inset;}
	50% {box-shadow: 0 0 15px 20px red inset;}
	to {box-shadow: 0 0 20px 25px red inset;}
}

.targeting {
	animation: shadow 500ms infinite linear;
}

.msg {
  position: absolute;
  width: 30vw;
	height: 10vw;
  top: calc(50vh - 5vw);
  left: 35vw;
	text-align: center;
	font-weight: bold;
	font-family: monospace;
	color: #f00;
  z-index: 50;
  visibility: hidden;
}

.move-ships {
  border: none;
  position: absolute;
  width: 100px;
  height: 100px;
  top: calc(100vh - 120px);
  background-color: #fff;
  opacity: 0.7;
}

#moveLeft {
  z-index: 100;
  left: 5vw;
  background: url('../src/img/moveLeft.png') no-repeat center center / cover;
}

#moveUp {
  z-index: 100;
  left: 20vw;
  background: url('../src/img/moveUp.png') no-repeat center center / cover;
}

#moveDown {
  z-index: 100;
  left: 35vw;
  background: url('../src/img/moveDown.png') no-repeat center center / cover;
}

#moveRight {
  z-index: 100;
  left: 50vw;
  background: url('../src/img/moveRight.png') no-repeat center center / cover;
}

#rotate {
  z-index: 100;
  right: 20vw;
  background: url('../src/img/rotate.png') no-repeat center center / cover;
}

#setShip {
  z-index: 100;
  right: 5vw;
  background: url('../src/img/setShip.png') no-repeat center center / cover;
}

#moveLeft:active {
  background: url('../src/img/moveLeftActive.png') no-repeat center center / cover;
}

#moveUp:active {
  background: url('../src/img/moveUpActive.png') no-repeat center center / cover;
}

#moveDown:active {
  background: url('../src/img/moveDownActive.png') no-repeat center center / cover;
}

#moveRight:active {
  background: url('../src/img/moveRightActive.png') no-repeat center center / cover;
}

#rotate:active {
  background: url('../src/img/rotateActive.png') no-repeat center center / cover;
}

#setShip:active {
  background: url('../src/img/setShipActive.png') no-repeat center center / cover;
}
